<!DOCTYPE html>
<html lang="ko">

<head>		

<title>Paintly.AIcard.example</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<!--   mobile web size-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--css-->
<link href="./css/bootstrap.min.css" rel="stylesheet">
<link href="./css/bootstrap.css" rel="stylesheet">
<link href="./css/cover.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<!--font-->
<link rel=”stylesheet” href=”http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css“>

<style>
  /* Icon when the collapsible content is shown */
  .btn:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    margin-left: 15px;
  }
  /* Icon when the collapsible content is hidden */
  .btn.collapsed:after {
    content: "\e080";
  }
</style>

</head>
<body>
<div class="header">
   <div id="headerLogo">
       <img src="./images/paintlylogo.png" >
   </div>
   <div id="headerSlogan">
          <h2>
           설날 감사카드는 이제 Paintly로!
       </h2>
       </div>
   </div>
<div class="letterheader">
    <h4>
        원하시는 엽서를 선택해주세요!
    </h4>
</div>


<!-- hashtag&example-->
<div class="hashtag">
       
        <div class="hashtagLine1">
        <button class="btn btn-link" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">#삼행시</button>
        <button class="btn btn-link" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">#풍경</button>
        <button class="btn btn-link">#일출</button>
        <button class="btn btn-link">#동물</button>
        </div>
        <div class="hashtagLine2">
        <button class="btn btn-link">#돼지</button>
        <button class="btn btn-link">#인물</button>
        <button class="btn btn-link">#음식</button>
        <a href="main.html">
        <button class="btn btn-link">#직접 만들기</button>
            </a>
        </div>
    </div>
    
     
<!--
        <a class="btn btn-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  #삼행시
</a>
<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  #풍경
</button>
-->
<div class="collapse" id="collapseExample1" >
<img src="./images/post6.png" style="width: 350px; height: 300px;">
<img src="./images/post1.png" style="width: 350px; height: 300px;">
<img src="./images/post6.png" style="width: 350px; height: 300px;">
<img src="./images/post1.png" style="width: 350px; height: 300px;">
</div>
<div class="collapse" id="collapseExample2" >
<img src="./images/post6.png" style="width: 350px; height: 300px;">
<img src="./images/post6.png" style="width: 350px; height: 300px;">
<img src="./images/post1.png" style="width: 350px; height: 300px;">
<img src="./images/post1.png" style="width: 350px; height: 300px;">
</div>    

    
<div class="Empltyletter">
    <img src="./images/letter2.png">
</div>


<!--
<div class="container">
  <h2>원하시는 엽서를 선택해주세요!</h2>
  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo">#돼지</button>
  <div id="demo" class="collapse">
<img src="./images/post6.png" style="width: 350px; height: 300px;">
<img src="./images/post1.png" style="width: 350px; height: 300px;">
 <img src="./images/post6.png" style="width: 350px; height: 300px;">
<img src="./images/post1.png" style="width: 350px; height: 300px;">
  </div>
</div>
-->




<footer>
  <p class="pull-right" style="margin-bottom: 10px;">
  <a href="index.html" style="font-size:2em;">Back to fisrt step</a></p>
  <p><a href="http://pulse9.ai/" style="font-size:1.5em;">&copy; 2018 Pulse9, Inc.</a> &middot; <a href="http://pulse9.strikingly.com/privacy" style="font-size:1.5em;">Privacy</a> &middot; <a href="http://pulse9.strikingly.com/privacy" style="font-size:1.5em;">Terms</a></p>
</footer>



<!--<script src="js/jquery-3.1.1.min.js"></script>    -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>