<!DOCTYPE html>
<html lang="ko">

  <head>    
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body id=background>
    <div id="index_container">
      <h1>DB input</h1>
      <form action="/ajax" method="post">
        <input id="dbName" name="userName" type="text" placeholder="name">
        <input id="dbEmail" name="userEmail" type="text" placeholder="email">
        <input type="button" class ="btn btn-sucess" onclick="checkAll()" value="upload">
      </form>
    </div>
  </body>

  <script>
function checkAll()
{
var name=$("#dbName").val();
var email=$("#dbEmail").val();
if(name != '' && email != '')
{
console.log("name is"+name);
console.log("email is"+email);
//$.post('/ajax/user', {userName:name, userEmail:email}).done(function()
//{
//window.location.href="http://183.102.74.3:8886/main";
//});
}
else
{
  alert('name or email missed!');
}
}
  </script>
}

</html>


