<!DOCTYPE html>
<html lang="ko">

  <head>    
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>
  <style>
  #background_db{width:80%;margin:10% auto;}
  </style>


  <body id="background_db">
    <div  style="auto;font-family:gothic;margin-top:40px;" align="center">
      <h2>GIVE US YOUR EMAIL</h2>
      <form action="/ajax" method="post" style="auto;">
        <input id="dbName" name="userName" type="text" placeholder="name" style="font-size:20px;" class="text_box" >
        <input id="dbEmail" name="userEmail" type="text" placeholder="email"  style="font-size:20px;" class="text_box" >
        <input type="button" class ="button_box" onclick="checkAll()" value="UPLOAD" style="">
      </form>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>

function checkAll()
{
var name=$("#dbName").val();
var email=$("#dbEmail").val();
if(name != '' && email != '')
{
console.log("name is"+name);
console.log("email is"+email);
$.post('/ajax/user', {userName:name, userEmail:email}).done(function()
{
window.location.href="http://paintly.me/main/"+name+"/"+email;
});
}
else
{
  alert('name or email missed!');
}
}
  </script>


</html>


