<!DOCTYPE html>
<html lang="ko">

  <head>    
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>
  <style>
  #background_db{width:80%;margin:10% auto;}
  </style>


  <body id="background_db">
    <div style="margin:10% auto;font-family:gothic; margin-top:80px;" align="center">
      <h2>GIVE US YOUR EMAIL</h2>
      <form action="/ajax/findemail" method="post" style="auto;">
        <input id="dbEmail" name="userEmail" style="font-size:20px;" type="text" placeholder="pulse9@gmail.com" class="text_box">
        <input type="submit" value="SUBMIT" class="button_box">
        <!-- <input type="button" class ="btn btn-sucess" onclick="checkAll()" value="upload" style="float:left;"> --!>
      </form>
    </div>
  </body>

  <script>
function checkAll()
{
var name=$("#dbName").val();
var email=$("#dbEmail").val();
if(name != '' && email != '')
{
console.log("name is"+name);
console.log("email is"+email);
$.post('/ajax/findemail', {userEmail:email}).done(function()
{
  console.log('55555')
//window.location.href="http://183.102.74.3:8886/main";
});
}
else
{
  alert('email missed!');
}
}
  </script>


</html>


