<!DOCTYPE html>
<html lang="ko">

  <head>    
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body id="mainBackground">

    <div class="reactUI step1" id="uploadPhoto" >
      사진을 올려주세요. 
    </div>
      <!--    style slider-->
      <div class="scrollmenu reactUI step2" id="styleList" style="display: none; text-align: center;">
        <%var list=["11","9","5","10","4"]%>
        <%for(var i=0;i<list.length;i++){%>
        <img id =<%= list[i]%> class="styleImages" onclick="style_click(<%=list[i]%>)" src="/images/thumbs/<%=i+1%>.jpg">
        <%}%>
      </div>

      <div class="reactUI step3" id="uploadPhoto" style="display: none;">
        메세지를 넣어주세요.
      </div>
      <div class="reactUI step4" id="uploadPhoto" style="display: none;">
        카드를 공유하세요!
      </div>

      <!-- Polaroid -->
      <center id="card_style"> 
        <div id="capture_card" style="width:100%; height:100%; position: relative; text-align: center;">
          <div id = "progressBar">
            <div class="loader"></div>
          </div>
          <div id = "insta_inImgTop1">
            <p id="rainbow_p1" style="color: black;font-family:Nanum Myeongjo;
    font-weight: 900;"> </p>
          </div>
          <div id = "insta_inImgTop2">
            <u id="rainbow_p2" style="color: black;font-family:Nanum Myeongjo;
    font-weight: 700;"> </u>
          </div>
          <div id = "insta_inImgTop3">
            <p id="rainbow_p3" style="color: mediumpurple;font-family:Nanum Myeongjo;
    font-weight: 900;"> </p>
          </div>

          <input class="reactUI step3" id="rainbow_txt1" autofocus placeholder="8자 이내로 입력" maxlength="8" style="display: none;letter-spacing:-1px"> 
          </input>
           <textarea class="reactUI step3" id="rainbow_txt2" data-limit-rows="true" rows="3" cols="10" placeholder="20자 이내로 입력!!" autofocus="" wrap="hard" maxlength="20" style="font-size: 1.5em; display:none; letter-spacing: -1px;"></textarea>
          <input class="reactUI step3" id="rainbow_txt3" autofocus placeholder="10자 이내로 입력" maxlength="10" style="display: none;letter-spacing:-1px"> 
          </input>
         
          <img id="rainbow_grip" src ="/images/sxswFrames_tropical2019.png"></img> 
          <div id="hiddenBox" ></div>
          <form name="fileForm3" action="/ajax/upload" method="post"  enctype="multipart/form-data" id="fileForm3">
            <label for="fileInput" style= "height: 100%; width: 100%; margin-bottom: 0px; display: inline-block; ">
              <img onload="offProgress();" id="flower_origin_image" style="z-index: 11; display: inline-block; pointer-events: none;" src="/images/rainbow_inner.png">
            </label>
            <input  id="fileInput" name="fileInput" type="file" accept="video/*" style="display: none;"/>
            <input type="text" id="filePath" style="display: none;"/>
          </form>
        </div>
      </center>


      <div class="reactUI step4 " id="testShare">
        <div id="testImage">
          <div id = "downButton" style = "left: 0;"class = "butt" onclick="DownloadCard()" >
            <a style="cursor: pointer; display: block; height: 100%; width: 100%;">
              <img src="/images/downL.png"/>
            </a>
          </div>
          <div id = "kakaoButton" style = "right: 0;"class = "butt" onclick="KakaoShare()" >
            <a style="cursor: pointer; display: block; height: 100%; width: 100%;">
              <img src="/images/kakaoL.png"/>
            </a>
          </div>
        </div>
      </div>

      <!-- real Kakao Butt -->
      <div  id="shareList" style="display: none; text-align: center;">
        <div id="kakao-link-btn">
          <a href="javascript:;">
            <img class="shareBut" id = "kakao"  style="position: absolute; border-radius:10px;" src="/images/kakao_logo.png"/>
          </a>
        </div>
      </div>


      <div id="stepBar" style="text-align: center;">
        <img id="s1" src="/images/bar2.png"  style="text-align: center; margin:0 auto;">
        <img id="s2" src="/images/bar3.png" style="display:none;text-align: center; margin:0 auto;">
        <img id="s3" src="/images/bar4.png" style="display:none;text-align: center; margin:0 auto;">
      </div>

      <div id="bottomList">
        <div class="btn_nav btn_nav_l">
          <img class="l_arrow" align="left"  src = "/images/frame_back_blue.png"> 
          <span class="tit_l_1">사진 다시<br>고르기</span>
          <span class="tit_l_2">스타일<br>고르기</span>
          <span class="tit_l_3">메시지<br>다시 쓰기</span>
        </div>
        <div class="btn_nav btn_nav_r">
          <img class="r_arrow" align="right" style="display:none" src = "/images/r_arrow.png" >
          <span class="tit_r_1">완성 카드<br>다시보기</span>
          <span class="tit_r_2">새카드<br>만들기</span>
        </div>
        <div class="btn_nav">
          <img class="resetBut" align="right" style="display:none" src = "/images/arrow6.png" >
          <img class="backToText" align="left" style="display:none" src = "/images/arrow1.png" >
        </div>
      </div>
          <script>

var timerId = 0;
var cur_Step = 1;
var kakaoimgName = '';
var styleCheck = false;
var list = ['11','9','5','10','4'];
var FN='';

/* Check file if style transfer is done */
function check_file(){
  var filenameOb = document.getElementById("filePath");
  var filename = filenameOb.value;
  var temp = filename.split('.');
  var http = new XMLHttpRequest();
  http.open('HEAD',"/images/ResultImage/"+temp[0]+".jpg", false);
  http.send();

  if(http.status!=404){
    styleCheck = true;
    /* Load images if process is done */
    setTimeout("style_img_load()",1000);
    console.log("styled img load finished");
    clearInterval(timerId); 
  }
}

/* Show progress bar if something is onprocessing */
function onProgress()
{
  $("#progressBar").css("display", "block");
}
/* Turn off Progress bar nothing is processed */
function offProgress()
{
  $("#progressBar").css("display", "none");
  console.log('pulse9');
  if(cur_Step == 2){
    for(var i=0;i<list.length;i++){
      /* turn Style list into normal status*/
      document.getElementById(list[i]).style.opacity=1;  
      document.getElementById(list[i]).onclick= style_click;
    }
  }
}

/* load Stylized Images into View */
function style_img_load(){
  var filenameOb = document.getElementById("filePath");
  var filename = filenameOb.value;
  var filenameJpg=filename.split('.');
  var num = Math.random();
  /* filename should be changed or Dummy cached Image will disturb you */
  filename = filenameJpg[0]+".jpg"+"?v=" + num;

  $('#flower_origin_image').attr("src","/images/ResultImage/"+filename);
  $("img.r_arrow").attr('src', '/images/arrow3.png');
}


  /* Capture Images onto Canvas and send it to server  */
function capture(){
  html2canvas(document.querySelector('#capture_card')).then(function(canvas){ 
    saveToServer(canvas.toDataURL(), $('#filePath').val());
  });
}

/* Manages the Changing of UI*/
function updateUI()
{
  $('.reactUI').css('display','none');
  $(".resetBut").css('display','none');
  $(".backToText").css('display','none');
  switch(cur_Step)
  {
    case 1:
      styleCheck=false;
      $('#flower_origin_image').attr("src","/images/grey.png");
      $('#insta_background').attr("src","");
      $("img.r_arrow").css('display','none');
      $('#fileInput').prop('disabled', false);
      $('.step1').fadeIn();
      $("#s1").css('display','block');
      $("#s2").css('display','none');
      $("#s3").css('display','none');
      break;
    case 2:
      if(styleCheck==false)
      {
        //$("img.r_arrow").attr('src', '/images/arrow4.png');
          //disable message
         $("img.r_arrow").attr('src', '/images/btn12.png');
      }
      
      else
      {
        //$("img.r_arrow").attr('src','/images/arrow3.png');
        $("img.r_arrow").attr('src','/images/btn10.png');
      }
      //$("img.l_arrow").attr('src','/images/arrow2.png');
        $("img.l_arrow").attr('src','/images/btn1.png');
      $("img.l_arrow").css('display','block');
      $("img.r_arrow").css('display','block');
      $('.step2').fadeIn();
      $('#fileInput').prop('disabled', true);
      $("#s2").css('display','block');
      $("#s1").css('display','none');
      $("#s3").css('display','none');  
      
      break;
    case 3:
     /* $("#rainbow_txt1").focus();
      $("#rainbow_txt1").val('');
      $("#rainbow_txt2").focus();
      $("#rainbow_txt2").val('');
      $("#rainbow_txt3").focus();
      $("#rainbow_txt3").val('');
      
      $("#rainbow_p1").text("");
      $("#rainbow_p2").text("");
      $("#rainbow_p3").text("");
*/
$.post('/ajax/videoDB',{filename:FN});

      $("img.l_arrow").attr('src','/images/arrow11.png');
      //$("img.r_arrow").attr('src','/images/arrow8.png');
      $("img.r_arrow").attr('src','/images/btn10.png');
      $("img.l_arrow").css('display','block');
      $("img.r_arrow").css('display','block');
      $('.step3').fadeIn();
      $('#fileInput').prop('disabled', true);
      $("#s3").css('display','block');
      $("#s2").css('display','none');
      $("#s1").css('display','none');  

      break;
    case 4:
      $("#rainbow_p1").text($("#rainbow_txt1").val());
      $("#rainbow_txt1").val('');
      $("#rainbow_p2").text($("#rainbow_txt2").val());
      $("#rainbow_txt2").val('');
      $("#rainbow_p3").text($("#rainbow_txt3").val());
      $("#rainbow_txt3").val('');
      /*initKakao();*/
      $("img.l_arrow").css('display','none');
      $("img.r_arrow").css('display','none');
      $(".shareBut").css('z-index', '99');
      $(".resetBut").css('display','block');
      $(".backToText").css('display','block');
      $('.step4').fadeIn();
      $('#fileInput').prop('disabled', true);
      break;
  }
}

/* check if Image is uploaded or not */
function chkImgUpload()
{
  if($('#flower_origin_image').attr("src").indexOf('grey')!=-1)
  {
    alert("사진을 선택 해주세요.");
    return false;
  }
  else
  {
    return true;
  }
}

function nextStep(){
  if(styleCheck)
  {
    if(cur_Step <4 && chkImgUpload())
  
      {$.post('/ajax/videoDB',{filename:FN});
            
      cur_Step = cur_Step +1;
      if(cur_Step ==4)
      {
        $("img.l_arrow").css('display','none');
        $("img.r_arrow").css('display','none');
        $("#rainbow_txt1").css('display', 'none');
        $("#rainbow_txt2").css('display', 'none');
        $("#rainbow_txt3").css('display','none');
        $("#rainbow_p1").text($("#rainbow_txt1").val());
        $("#rainbow_p2").text($("#rainbow_txt2").val());
        $("#rainbow_p3").text($("#rainbow_txt3").val());
       /*capture();*/
       /* $('#insta_background').attr("src","/background/"+$('#filePath').val());*/
      }else{
        updateUI()
      }
    }
  }
  else
  {
    alert("스타일을 선택 해 주세요.");
  }
}

function prevStep(){
  if(cur_Step==1){
window.location.href="http://183.102.74.3:8886/main";
  }else if(cur_Step ==2 )
  {
    location.reload();
  }else if(cur_Step >2 )
  {
    cur_Step = cur_Step -1;
    updateUI()
  }
}

/* Save to Server with ajax */
function saveToServer(uri, filename)
{
  filename = filename.split('.')[0];
  $.post('/ajax/result', {imgURL: uri, imgName: filename }).done(function(){
    updateUI(); 
  }
  );
}

/* Download cards
   iphone - open Images
   Android - down load Images automatically

   open Survey page
 */
function DownloadCard(){
  var link = document.createElement('a');
  var filename = $('#filePath').val().split('.')[0]+".gif";
  var uagent = navigator.userAgent.toLowerCase();

  link.href = "/final/"+filename;
  link.download = filename;
  link.click();
  if (uagent.search("iphone") > -1){
    window.location.href="/sularoid/final/"+filename;
  }else{
    var survey = window.open('https://docs.google.com/forms/d/e/1FAIpQLSd7WoextcuhCkfh1DuDdWwz6y9nyM6u9F5P4Pmt5ykU9GhEFQ/viewform','_blank');
    survey.focus(); 
    //window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSd7WoextcuhCkfh1DuDdWwz6y9nyM6u9F5P4Pmt5ykU9GhEFQ/viewform'

  }


}

/*Set Fake Kakao Button 
  so It can be managed easily(for UI)*/
function KakaoShare(){
  $('#kakao-link-btn').click();
}


/* Init Kakao Sdk 
   set Tags, Title, Url etc here */
function initKakao()
{
  Kakao.cleanup();
  var ori_filename = $('#filePath').val();
  var final_filename = ori_filename.split('.')[0]+".png";
  //Kakao.init('b53c59767a3c1d122013beb25feda261');
  Kakao.init('c9fce0d59aa8336cea1e41e5ed774cd2');
  Kakao.Link.createDefaultButton({
    container: '#kakao-link-btn',
    objectType: 'feed',
    content: {

      title: "졸업이라 쓰고, 기적이라 읽다.",

      description: '#졸업 #축하해 #백수 #Paintly',
      imageUrl: 'http://paintly.me/final/'+final_filename,
      link: {
        mobileWebUrl: 'http://paintly.me/sularoid/'+final_filename,
        webUrl: 'http://paintly.me/sularoid/'+final_filename
      }
    },
    buttons: [
    {
      title: '카드 만들기',
      link: {
        mobileWebUrl: 'http://paintly.me',
        webUrl: 'http://paintly.me'
      }
    }
    ]
  });
}

/* Generate Filename with Random Character */
function genFileName() {
  var text = "";
  var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

  for (var i = 0; i <24; i++)
  {
    text += possible.charAt(Math.floor(Math.random() * possible.length));
  }

  return text;
}

function style_click(Id){

  var filenameOb = document.getElementById("filePath");
  if(filenameOb.value !='')
  {
    onProgress();

    var filename = filenameOb.value;
    var stylenum = $(this).attr("id");

    if(stylenum == undefined){
      stylenum = Id;
    }      

    for(var i=0;i<list.length;i++){
      if(stylenum != list[i]){
        document.getElementById(list[i]).style.opacity=0.5;  
      }
      document.getElementById(list[i]).onclick= null;
    }

    /* Delete Already Existing File
       and Put another rows into DB */
    console.log("fnnfnfnf"+FN);
    $.post('/ajax/delete', {filename: FN });
    $.post('/ajax/style', {stylenum: stylenum , filename: FN });

    /* Start Thread to tell when the file is generated */
    timerId = setInterval("check_file()", 1500); 
  }
  else
  {
    alert('올바른 사진을 업로드 해 주세요.');
  }

}

$(document).ready(function(){


  $(".resetBut").click(function(){
    location.reload();
  });
  $(".backToText").click(function(){
    prevStep();
  });
  $("#hiddenBox").click(function(){
    $("#fileInput").click();
  });

  $("img.r_arrow").click(function(){
    nextStep();
  });

  $("img.l_arrow").click(function(){
    prevStep();
  });

  /*When file is changed which means file is uploaded
    It shows the preview of Images with module loadImage */
  $('#fileInput').on('change', function (){
    var filename=$('#fileInput').val();
    console.log(filename);
    var file;

    if ((file = this.files[0])) {
      if(filename.toLowerCase().indexOf("mp4")!=-1 || filename.toLowerCase().indexOf("MP4")!=-1 || filename.toLowerCase().indexOf("mov")!=-1 || filename.toLowerCase().indexOf("MOV")!=-1)
      {
        onProgress();
        var temp=filename.split('.');

        var newFilename = genFileName()+"."+temp[temp.length-1];

        console.log(newFilename);
       //$('#filePath').val(newFilename);
        console.log('before post');
        console.log($('#filePath').val());
        //$.post('/ajax/result', {imgURL: uri, imgName: filename }).done(function(){
       //updateUI(); 
        // }

        $.post('/ajax/filename',{filename:newFilename});
        document.getElementById("fileForm3").submit();
        FN=newFilename;
        var temp2=newFilename.split('.'); 
        console.log(temp2[0]);
        setTimeout(function(){ $('#flower_origin_image').attr("src","/images/thumbs/"+temp2[0]+".jpg");
        },1000);
        console.log('hh');

     // var temp2=newFilename.split('.'); 
     // console.log(temp2[0]);
     // $('#flower_origin_image').attr("src","/images/thumbs/"+temp2[0]+".jpg");

                    $('#filePath').val(newFilename);
                    kakaoimgName = newFilename;
                    offProgress();

                    cur_Step = cur_Step +1;
                   updateUI();
                   $("#bottomList").css('display','block');



        //loadImage(
          //  file,
           // function(img){
             // var imgURI = img.toDataURL();

              //$.post('/ajax/upload', { imgName: newFilename },
                  //function(data,status){

                    //$('#flower_origin_image').attr("src",newFilename);
                    //$('#insta_background').attr("src",newFilename);

                   // $('#filePath').val(newFilename);
                    //kakaoimgName = newFilename;
                    //offProgress();

                   // cur_Step = cur_Step +1;
                   // updateUI();
                   // $("#bottomList").css('display','block');

                 // }).fail(function(xhr, status, error ){
               // alert("파일을 확인 해 주세요.");
               // location.reload();
             // });
           // },
          //  {
            //  orientation: true}
      //  );
      }
      else
      {
        alert("사진을 업로드 해 주세요.");
      }
    }
  });
});  
          </script> 
  </body>
</html>
