<!DOCTYPE html>
<html lang="ko">

  <head>    
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body id="mainBackground">

          <center id="card_style"> 
        <div id="capture_card" style="width:100%; height:100%; position: relative; text-align: center;">
          <div id = "progressBar">
            <div class="loader"></div>
          </div>
          <div id = "insta_inImgTop1">
            <p id="rainbow_p1" style="color: black;font-family:Nanum Myeongjo;
    font-weight: 900;"> </p>
          </div>
          <div id = "insta_inImgTop2">
            <u id="rainbow_p2" style="color: black;font-family:Nanum Myeongjo;
    font-weight: 700;"> </u>
          </div>
          <div id = "insta_inImgTop3">
            <p id="rainbow_p3" style="color: mediumpurple;font-family:Nanum Myeongjo;
    font-weight: 900;"> </p>
          </div>

          <input class="reactUI step3" id="rainbow_txt1" autofocus placeholder="8자 이내로 입력" maxlength="8" style="display: none;letter-spacing:-1px"> 
          </input>
           <textarea class="reactUI step3" id="rainbow_txt2" data-limit-rows="true" rows="3" cols="10" placeholder="20자 이내로 입력!!" autofocus="" wrap="hard" maxlength="20" style="font-size: 1.5em; display:none; letter-spacing: -1px;"></textarea>
          <input class="reactUI step3" id="rainbow_txt3" autofocus placeholder="10자 이내로 입력" maxlength="10" style="display: none;letter-spacing:-1px"> 
          </input>
         
          <img id="rainbow_grip" src ="/images/sxswFrames_tropical2019.png"></img> 
          <div id="hiddenBox" ></div>
              <img onload="offProgress();" id="flower_origin_image" style="z-index: 11; display: inline-block; pointer-events: none;" src="/images/ResultVideo/<%= id %>.gif">
        </div>
      </center>
  </body>
</html>
 
