<p class="pull-right" style="margin-bottom: 10px;">
<!--  <a href="#" style="font-size:2.5em;">Back to top</a></p>-->
<p><a href="http://pulse9.ai/" style="font-size:1.5em;">&copy; 2018 Pulse9, Inc.</a> &middot; <a href="http://pulse9.strikingly.com/privacy" style="font-size:1.5em;">Privacy</a> &middot; <a href="http://pulse9.strikingly.com/privacy" style="font-size:1.5em;">Terms</a></p>
