<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body id=background>
    <div id="index_container">
      <div id="idx1">
        <div id="backgroundMent">
          <img id="idx1_ment" src="./images/cong.png">
   
<!--   

<textarea id="textarea" data-limit-rows=true rows=2 cols=23 placeholder="maximun 24" wrap=hard autofocus maxlength="25" style="font-size: 1em;"> 
</textarea>

 -->




        </div>

      </div>


      <div id="idx2">
        <div class="swiper-container" style="text-align:center; height:95%;"> 
          <div class="swiper-wrapper" > 
            <% for(var i =1; i<7; i++) { %>
            <div class="swiper-slide" >
              <img src="./images/sam<%=i%>.jpg" >
            </div> 
              <% } %>
          </div> 
        </div>

        <div class="swiper-pagination"></div>

      </div>

      <div id="idx1">

        <div id="index_btn" style="text-align: center;">
          <a href="db">
            <img src="./images/btn6.png" style="text-align: center;">
          </a>
        </div>    
      </div>

    </div>
    <script>
$(".main").onepage_scroll({

  loop: false,
  keyboard: false,

});
$(document).ready(function(){
  $("img.goBtn").hover(function(){
    $(this).attr("src","/images/rebtncheck.png");
  });
});

var swiper = new Swiper('.swiper-container', { 
  slidesPerView: 1, 
  spaceBetween: 20, 
  freeMode: true, 
  pagination: { 
    el: '.swiper-pagination', 
    clickable: true, 
  }, 
});
$(document).ready(function(){

})
    </script>
  </body>
</html>
