<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body id=background>
   
        <div id="index_container">
            <div id="idx1">
                <h1 id="backgroundMent">설날 폴라로이드 만들기</h1>
          <div id="startBtn">
            <a href="main">만들어 볼까요?
            </a>
        </div>    
            </div>
            
        
        <div id="idx2">
             
              
          <div class="swiper-container" style="text-align:center; height:95%;"> 
            <div class="swiper-wrapper" > 
              <% for(var i =1; i<8; i++) { %>
              <div class="swiper-slide" >
                <img src="./images/sample<%=i%>.jpg" >
              </div> 
            <% } %>
            </div> 
          </div>
          
          <div class="swiper-pagination"></div>
        
        </div>
        <div id="idx1">
                
          <div id="startBtn">
            <a href="main">만들러 가기 >>
            </a>
        </div>    
            </div>
        
        </div>
        
        
        
     
   


  </body>

  <script>
$(".main").onepage_scroll({

  loop: false,
  keyboard: false,

});
$(document).ready(function(){
    $("img.goBtn").hover(function(){
        $(this).attr("src","/images/rebtncheck.png");
    });
});

var swiper = new Swiper('.swiper-container', { 
  slidesPerView: 1, 
  spaceBetween: 20, 
  freeMode: true, 
  pagination: { 
    el: '.swiper-pagination', 
    clickable: true, 
  }, 
});
$(document).ready(function(){
    
})
  </script>
</html>
