<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body id=background>
   
        <div id="index_main" >
          <h1 id="backgroundMent">페인틀리 신년카드 만들기</h1>
          <h4 id="backgroundMent2">추억이 담긴 사진으로 고마운 분들에게 나만의 새해 인사를 전해보세요.</h4>
          <div id="startBtn">
            <a href="main">만들어 볼까요?
            </a>
        </div>
        
        <div id="backgroundSlider">
             
              
          <div class="swiper-container" > 
            <div class="swiper-wrapper" > 
              <% for(var i =1; i<8; i++) { %>
              <div class="swiper-slide" >
                <img src="./images/sample<%=i%>.jpg" >
              </div> 
            <% } %>
            </div> 
          </div>
          
          <div class="swiper-pagination"></div>
        
        </div>
        
        </div>
        
        
        
     
   


  </body>

  <script>
$(".main").onepage_scroll({

  loop: false,
  keyboard: false,

});
$(document).ready(function(){
    $("img.goBtn").hover(function(){
        $(this).attr("src","/images/rebtncheck.png");
    });
});

var swiper = new Swiper('.swiper-container', { 
  slidesPerView: 1, 
  spaceBetween: 20, 
  freeMode: true, 
  pagination: { 
    el: '.swiper-pagination', 
    clickable: true, 
  }, 
});
$(document).ready(function(){
    
})
  </script>
</html>
