<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.hello</title>
  </head>
  <body>
    <div style="text-align: center;">
      <a href = "/main">
        <img  src="/images/0.png" >
      </a>
        <footer>
          <% include footer %>
        </footer>
    </div>
  </body>

</html>
