<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body id=background>
   
        <div >
          <h1 id="backgroundMent">설날폴라로이드 만들기</h1>
        </div>
        <div id="backgroundSlider">
             
              
          <div class="swiper-container" > 
            <div class="swiper-wrapper" > 
              <% for(var i =1; i<7; i++) { %>
              <div class="swiper-slide" >
                <img src="./images/sample1.png">
              </div> 
            <% } %>
            </div> 
          </div>
          
          <div class="swiper-pagination"></div>
        
        </div>
        
        
        <div id="backgroundBtn">
            <a href="main#">
                <img class="goBtn" src="/images/rebtn.png">
            </a>
        </div>
   


  </body>

  <script>
$(".main").onepage_scroll({

  loop: false,
  keyboard: false,

});
$(document).ready(function(){
    $("img.goBtn").hover(function(){
        $(this).attr("src","/images/rebtncheck.png");
    });
});

var swiper = new Swiper('.swiper-container', { 
  slidesPerView: 1, 
  spaceBetween: 30, 
  freeMode: true, 
  pagination: { 
    el: '.swiper-pagination', 
    clickable: true, 
  }, 
});
$(document).ready(function(){
    
})
  </script>
</html>
