<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.hello</title>
  </head>
  <body>
  <a href = "/main">
      <img  src="/images/0.png" >
      </a>
      <footer>
        <% include footer %>
      </footer>
  </body>

</html>
