<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body>
    <div class= "main">
      <section id="test1">
        <div id="index1">
          <a class="mainButt"  href="./main">
            <img id="index1_b" src="./images/index1_b.png">
          </a>
        </div>
      </section>


      <section>   
        <div id="index2">  
<!--        example cards slide-->
          
        </div>
      </section>

      <section>
        <div id="index3">    
          <a class="mainButt"  href="./main">
<!--            <img id="index3_b" src="./images/index3_b.png">-->
          </a>
        </div>
      </section>
      
      
      
      </div>
<footer>
        <% include footer %>
        <a href="#" style="font-size:2em;">Back to top</a>
      </footer>


  </body>

  <script>
$(".main").onepage_scroll({

  loop: false,
  keyboard: false,

});
$('#file-input').change(function() {
  $('#target').submit();
});

var swiper = new Swiper('.swiper-container', { 
  slidesPerView: 3, 
  spaceBetween: 30, 
  freeMode: true, 
  pagination: { 
    el: '.swiper-pagination', 
    clickable: true, 
  }, 
});

  </script>
</html>
