<!DOCTYPE html>
<html lang="ko">

  <head>    
    <% include header %>
    <title>Paintly.AIcard.main</title>

    <style>

#val11 td
{
  text-align: center;
  padding: 1px;
}

    </style>


  </head>

  <body id=background>
    <div id="index_container">
      <div id="idx1">
        <div id="backgroundMent">
          프레임을 선택하세요.
        </div>
      </div>


      <table id = "val11" style="float:left;width: 100%;height: 50%;">
        <tr>
          <th>
            <td> 
              <a href="./valentine" >
                <img src="/images/sam1.jpg" style="width: 100%; height: 20%">
              </a>
            </td>
          </th>
          <th>
            <td>
              <a href="./sularoid" >
                <img src="/images/sam3.jpg" style="width: 100%; height: 20%;">
              </a>
            </td>

          </th>


        </tr>
        <tr>
          <th>
            <td> 
              <a href="./insta" >
                <img src="/images/sam5.jpg" style="width: 100%; height: 20%">
              </a>
            </td>
          </th>

          <th>
            <td>
               <a href="./flower" >
                <img src="/images/sam6.jpg" style="width: 100%; height: 20%">
              </a>
            </td>

          </th>


        </tr>


      </table>

      <div id="stepBar_main" >
        <img id="s0" src="/images/bar1.png">
      </div>
    </div>
  </body>
</html>


