<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body id=background>
    <div id="index_container">
      <div id="idx1">
        <div id="backgroundMent">
          프레임을 선택하세요.
        </div>

      </div>

      <div id="vscontainer" >
        <div id = "val1" >
          <a href="./valentine" style="display: block; height: 100%; width: 100%;left: 0">
            <img src="/images/sam1.jpg" style="height: 100%; width: 100%; left: 0"/>
          </a>
        </div>
        <div id = "sul1"  >
          <a href="./sularoid" style="display: block; height: 100%; width: 100%;right: 0">
            <img src="/images/sam3.jpg"style="height: 100%; width: 100%; right: 0"/>
          </a>
        </div>

        <div id = "val1"  >
          <a href="./insta" style="display: block; height: 100%; width: 100%;right: 0">
            <img src="/images/ins1.jpg"style="height: 100%; width: 100%; right: 0"/>
          </a>
        </div>
        <div id = "sul1"  >
          <a href="./insta" style="display: block; height: 100%; width: 100%;right: 0">
            <img src="/images/ins1.jpg"style="height: 100%; width: 100%; right: 0"/>
          </a>
        </div>

      </div>
      <div id="stepBar_main" >
        <img id="s0" src="/images/bar1.png">
      </div>
    </div>
  </body>
</html>
