<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body>


<div id="fullpage">
    <div class="section">One</div>
        <div class="section">
                <div class="slide" data-anchor="slide1">Two 1</div>
                        <div class="slide" data-anchor="slide2">Two 2</div>
                            </div>
                                <div class="section">Three</div>
                                    <div class="section">Four</div>
                                    </div>
</body>

<script>

new fullpage('#fullpage', {
  //options here
    autoScrolling:true,
      scrollHorizontally: true
      });

      //methods
      fullpage_api.setAllowScrolling(false);
      </script>
</html>


