<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body>
   
   <!--       메인 첫번째 페이지-->
    <div class= "main">
      <section>
        <div id="main_index1">
        <!--예시부분 header-->
        <div id="cardslider"  style="margin-bottom:50%;">
<div class="swiper-container" > 
     <div class="swiper-wrapper" > 
<!--      <div class="imgsample"></div>-->
       <div class="swiper-slide" style="margin-top:20%;">
           <img src="./images/post1.png">
       </div> 
       <div class="swiper-slide" style="margin-top:20%;">
           <img src="./images/post4.png">
       </div> 
       <div class="swiper-slide" style="margin-top:20%;">
           <img src="./images/post3.png">
       </div> 
       <div class="swiper-slide" style="margin-top:20%;">
           <img src="./images/post2.png">
       </div> 
       <div class="swiper-slide" style="margin-top:20%;">
           <img src="./images/post5.png">
       </div> 
       <div class="swiper-slide" style="margin-top:20%;">
           <img src="./images/post6.png">
       </div> 
<!--
       <div class="swiper-slide">Slide 7</div> 
       <div class="swiper-slide">Slide 8</div> 
       <div class="swiper-slide">Slide 9</div> 
       <div class="swiper-slide">Slide 10</div> 
-->
     </div> 
     <!-- Add Pagination --> 
     <div id="point">
     <div class="swiper-pagination"></div> </div>
   </div>
   </div>
        </div>
        
</section>
<!--메인 두번째 페이지-->
<section>   

          <div id="main_index2">    
    
        </div>
          
</section>
<!--세번째 페이지-->
      <section>
      </section>



  </body>

  <script>
    $(".main").onepage_scroll({

      loop: false,
      keyboard: false,

    });
$('#file-input').change(function() {
  $('#target').submit();
});
if("<%=title%>"=="Upload"){
  $(".main").moveTo(3);
  $(".main").moveDown();
}

if("<%=title%>"=="Progressing"){
  $(".main").moveTo(4);
  $(".main").moveDown();
  $('progress').css({'overflow':'hidden'}); //확인필요


  var http = new XMLHttpRequest();
  while(http.status==404){
    setTimeout(function(){ 
      http.open('HEAD',"/images/Result/<%=uploadfile%>", false);
      http.send();
      console.log(http.status!=404); 
    },5000);

  }

  $(".main").moveTo(6);
  if (self.name != 'reload') {
    self.name = 'reload';
    self.location.reload(true);
  }
 //else self.name = ''; 
}


var swiper = new Swiper('.swiper-container', { 
  slidesPerView: 3, 
  spaceBetween: 30, 
  freeMode: true, 
  pagination: { 
    el: '.swiper-pagination', 
    clickable: true, 
  }, 
});

  </script>
</html>
