<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body id="mainBackground">

    <div class='myTop'>
      <div class="info">1. 사진을 선택하세요.</div>
      <div class="page">(1/3)</div>
    </div>

    <div class="reactUI step1" id="uploadPhoto" >
      <div id="uploadBut">사진 고르기 <img style="width: 60px; height: 60px;"src="/images/album_icon.png"> </div>
    </div>
    <!--    style slider-->
    <div class="scrollmenu reactUI step2" id="styleList" style="display: none;">
      <%for(i=1;i<10;i++){%>   
      <img id = "<%= i %>" class="styleImages" src="/images/thumbs/<%=i%>.png">
      <% }%>        
    </div>
    <div class="reactUI step3" id="txtblock" style="display: none;" >
      <input id="txt" type="text" maxlength="20" placeholder="20자 이내로 입력" >
    </div>

      <center id="card_style"> 
        <div id="capture_card" style="width:100%; height:100%; position: relative; text-align: center;">

          <div id = "showInput"></div>
          <div id = "progressBar">
            <h1 id="progressMent"> 처리 중입니다. </h1>
            <div class="loader"></div>
          </div>
          <div class="something">
            <img id="blurred_background"src ="/images/Picasso.jpg"></img> 
          </div>
          <img id="grip" class="rotate"  src ="/images/grip.png"></img> 
          <form action="/upload" method="post"  enctype="multipart/form-data" id="fileForm">
            <label for="fileInput" style= "height: 100%; width: 100%; margin-bottom: 0px;">
              <img onload="offProgress()" id="origin_image" class="rotate" src="/images/emptyinside.png" >
            </label>
              <input id="fileInput" name="fileInput" type="file" accept="image/*" style="display: none;"/>
              <input type="text" id="filePath" style="display: none;"/>
          </form>

        </div>
      </center>

      <div class=" reactUI step5 " id="shareList" style="display: none; text-align: center;">
        <img class="shareBut" id = "download" onclick="capture2()" style="display: inline-block; height: 5vh; width: auto;" src="/images/download_logo.png"/>
        <a id="kakao-link-btn" href="javascript:;">
          <img  class="shareBut" id = "kakao" src="/images/kakao_logo.png"/>
        </a>
      </div>

      <div id="bottomList">
        <img class="l_arrow" align="left" style=" display: none; height: 5vh; width: auto;" src = "/images/l_arrow_empty.png"> 
        <a class="reactUI step5" id="eventBut" style="display: none;">명절인사백서 이벤트 </a>
        <img class="r_arrow" align="right" style="height: 5vh; width: auto;" src = "/images/r_arrow_empty.png"> 
      </div>

      <script>
var timerId = 0;
var cur_Step = 1;
var kakaoimgName = '';

function onProgress()
{
  $("#progressBar").css("display", "block");
}

function offProgress()
{
  $("#progressBar").css("display", "none");
}

$(document).ready(function(){
  $("#txt").on('input', function(){
    $('#showInput').text($(this).val());
  });
  $('#ttt').click(function()
      {
        console.log("clicked");
        $.post('/ajax/delete', {filename: 'abc.jpg'});

      });

  $(".styleImages").click(function(){
    var filenameOb = document.getElementById("filePath");
    if(filenameOb.value !='')
    {
onProgress()
      var filename = filenameOb.value;
      var stylenum = $(this).attr("id");

      $('#filter_img').attr("src",$(this).attr("src"));
      $.post('/ajax/style', {stylenum: stylenum, filename: filename });
      timerId = setInterval("check_file()", 1000); 
    }
    else
    {
      alert('올바른 사진을 업로드 해 주세요.');
    }
  });

  $("#uploadBut").click(function(){
    $('#origin_image').click();
  });

  $(".resetBut").click(function(){
    cur_Step=1;
    dataInit();
    updateUI();
  });

  $("span.close").click(function(){
    $("#myModal").css('display','none');
  });

  $("img.l_arrow").hover(function(){
    $(this).attr("src","/images/l_arrow_colored.png");
  },
  function(){
    $(this).attr("src","/images/l_arrow_empty.png");
  });

  $("img.r_arrow").hover(function(){
    $(this).attr("src","/images/r_arrow_colored.png");
  },
  function(){
    $(this).attr("src","/images/r_arrow_empty.png");
  });

  $("img.r_arrow").click(function(){
    nextStep();
  });

  $("img.l_arrow").click(function(){
    prevStep();
  });


  $(window).click(function(e){
    if( e.target.id == "myModal")
    {
      $("#myModal").css('display','none');
      $('h3.first_letter').text("");
      $('h3.second_letter').text("");
      $("h4#first_line").text("");
      $("h4#second_line").text("");
    }
  });

  $("button#mySubmit").click(function(){
    //f input $("input#first").val()_;
    //s input$("input#second").val());
    $("h4#first_line").text($("input#first").val());
    $("h4#second_line").text($("input#second").val());
    $("#myModal").css('display','none');
  });

  // Upload Files
  var _URL = window.URL || window.webkitURL;
  $('#fileInput').on('change', function () {
    var filename=$('#fileInput').val();
    var file, img;
    if ((file = this.files[0])) {
      img = new Image();
      if(filename.toLowerCase().indexOf("jpg")!=-1 || filename.toLowerCase().indexOf("png")!=-1 || filename.toLowerCase().indexOf("jpeg")!=-1)
      {
        img.onload = function () {
          if(this.width<= 5000 && this.height <= 5000)
          {
            var form = $('#fileForm')[0];
            var formData = new FormData(form);
            onProgress()

            $.ajax({
              type: 'post',
              url: '/ajax/upload',
              data: formData,
              processData: false,
              contentType: false,
              success: function (data) {
                $('#filePath').val(data);
                $('#origin_image').attr("src","/"+data);
                $('#blurred_background').attr("src","/"+data);
                kakaoimgName = data;
              },
              error: function (err) {
                offProgress()
              }
            });
          }
          else
          {
            alert("작은 이미지를 사용 해 주세요.");
          }
        };
      }
      else
      {
        alert("사진을 업로드 해 주세요.");
      }
      img.src = _URL.createObjectURL(file);
    }
  });
});

function check_file(){
  var filenameOb = document.getElementById("filePath");
  var filename = filenameOb.value;

  var http = new XMLHttpRequest();
  http.open('HEAD',"/images/Result/"+filename, false);
  http.send();

  if(http.status!=404){
    $('#origin_image').attr("src","/images/Result/"+$('#filePath').val());
    clearInterval(timerId);  
  }
}

function dataInit(){
  $('#origin_image').attr("src","/images/emptyinside.png");
}

function capture(){
  html2canvas(document.querySelector('#capture_card')).then(function(canvas){
    saveToServer(canvas.toDataURL(), $('#filePath').val())
  });
}

function capture2(){
  html2canvas(document.querySelector('#capture_card')).then(function(canvas){
    saveAs(canvas.toDataURL(), 'paintlyNewyear.png');
  });
  window.location.href = 'http://paintly.me/final/'+$('#filePath').val();
}
function updateUI()
{
  $('.reactUI').css('display','none');
  $("body").css('background','#f4d995');
  switch(cur_Step){
    case 1:
      $("img.l_arrow").css('display','none');
      $(".info").text("1. 사진을 선택하세요.");
      $(".page").text("(1/3)");
      $('.step1').fadeIn();
      break;
    case 2:
      $("img.l_arrow").css('display','block');
      $("img.r_arrow").css('display','block');
      $(".info").text("2. 그림 스타일을 선택하세요.");
      $(".page").text("(2/3)");
      $('.step2').fadeIn();
      break;
    case 3:
      $("img.l_arrow").css('display','block');
      $("img.r_arrow").css('display','block');
      $(".info").text("3. 원하는 문구를 입력하세요.");
      $(".page").text("(3/3)");
      $('.step3').fadeIn();
      break;
    case 4:
      initKakao();
      $("body").css('background','#6b3300');
      $(".info").text("");
      $(".page").text("");
      $("img.l_arrow").css('display','block');
      $("img.r_arrow").css('display','none');
      $('.step5').fadeIn();
      $('#fileInput').prop('disabled', true);
      break;
  }
}

function chkImgUpload()
{
  if($('#fileInput').val()=='' || $('#origin_image').attr("src").indexOf('empty')!=-1)
  {
    alert("사진을 선택 해주세요.");
    return false;
  }
  else
  {
    return true;
  }
}

function nextStep(){
  if(cur_Step <4 && chkImgUpload())
  {
    cur_Step = cur_Step +1;
    updateUI()
      if(cur_Step ==4)
      {
        capture();
      }
  }
}

function prevStep(){
  if(cur_Step >1 )
  {
    cur_Step = cur_Step -1;
    updateUI()
  }
}

function saveToServer(uri, filename)
{
  filename = filename.split('.')[0];
  $.post('/ajax/result', {imgURL: uri, imgName: filename });
}

function saveAs(uri, filename) {
  var link = document.createElement('a');
  if (typeof link.download === 'string') {
    link.href = uri;
    link.download = filename;
    //simulate click
    link.click();
  } else {
    window.open(uri);
  }
}

function initKakao()
{
  //Kakao.init('b53c59767a3c1d122013beb25feda261');
  Kakao.init('c9fce0d59aa8336cea1e41e5ed774cd2');
  Kakao.Link.createDefaultButton({
    container: '#kakao-link-btn',
    objectType: 'feed',
    content: {
      title: "설날 카드 만들기 '(OO)' 꿀!",
      description: '#페인틀리 #설라로이드 #인싸',
      imageUrl: 'http://paintly.me/final/'+$('#filePath').val(),
      link: {
        mobileWebUrl: 'http://paintly.me',
        webUrl: 'http://paintly.me'
      }
    },
    buttons: [
    {
      title: '카드 만들기',
      link: {
        mobileWebUrl: 'http://paintly.me',
        webUrl: 'http://paintly.me'
      }
    }
    ]
  });
}
      </script> 
  </body>
</html>

