<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body>
    <div class= "main">
      <section>
        <div class="header">
          <div id="headerLogo">
            <img src="./images/paintlylogo.png" >
          </div>
            <div id="headerSlogan">
              <h2>설날 감사카드는 이제 Paintly로! </h2>
            </div>
        </div>
        <!--예시부분 header-->
        <div class="sampleHeader">
          <div id="sampleHeaderLogo">
            <h1>Paintly가 여러분의 이야기를 작품으로 만들어 드립니다.</h1>
            <p>사진을 고르고, 원하는 그림 스타일을 고른 뒤, 문구를 입력하면 끝!</p>
          </div>

        </div>
        <!-- 결과예시 이미지-->
        <div class="sampleHeaderImg">
          <img src="./images/result.png">
        </div>
      </section>

      <section>   
        <!--  logo와 slogan-->

        <!--여러가지 예시 이미지 슬라이드-->
        <ul class="slides">
          <input type="radio" name="radio-btn" id="img-1" checked />
          <li class="slide-container">
            <div class="slide">
              <a href="https://paintly.ai/">
                <img src="./images/post1.png" />
              </a>
            </div>
            <div class="nav">
              <label for="img-6" class="prev">&#x2039;</label>
              <label for="img-2" class="next">&#x203a;</label>
            </div>
          </li>

          <input type="radio" name="radio-btn" id="img-2" />
          <li class="slide-container">
            <div class="slide">
              <a href="https://paintly.ai/">
                <img src="./images/post2.png" />
              </a>

            </div>
            <div class="nav">
              <label for="img-1" class="prev">&#x2039;</label>
              <label for="img-3" class="next">&#x203a;</label>
            </div>
          </li>

          <input type="radio" name="radio-btn" id="img-3" />
          <li class="slide-container">
            <div class="slide">
              <a href="https://paintly.ai/">
                <img src="./images/post3.png" />
              </a>
            </div>
            <div class="nav">
              <label for="img-2" class="prev">&#x2039;</label>
              <label for="img-4" class="next">&#x203a;</label>
            </div>
          </li>

          <input type="radio" name="radio-btn" id="img-4" />
          <li class="slide-container">
            <div class="slide">
              <a href="https://paintly.ai/">
                <img src="./images/post4.png" />
              </a>

            </div>
            <div class="nav">
              <label for="img-3" class="prev">&#x2039;</label>
              <label for="img-5" class="next">&#x203a;</label>
            </div>
          </li>

          <input type="radio" name="radio-btn" id="img-5" />
          <li class="slide-container">
            <div class="slide">
              <a href="https://paintly.ai/">
                <img src="./images/post5.png" />
              </a>
            </div>
            <div class="nav">
              <label for="img-4" class="prev">&#x2039;</label>
              <label for="img-6" class="next">&#x203a;</label>
            </div>
          </li>

          <input type="radio" name="radio-btn" id="img-6" />
          <li class="slide-container">
            <div class="slide">
              <a href="https://paintly.ai/">
                <img src="./images/post6.png" />
              </a>
            </div>
            <div class="nav">
              <label for="img-5" class="prev">&#x2039;</label>
              <label for="img-1" class="next">&#x203a;</label>
            </div>
          </li>

          <li class="nav-dots">
            <label for="img-1" class="nav-dot" id="img-dot-1"></label>
            <label for="img-2" class="nav-dot" id="img-dot-2"></label>
            <label for="img-3" class="nav-dot" id="img-dot-3"></label>
            <label for="img-4" class="nav-dot" id="img-dot-4"></label>
            <label for="img-5" class="nav-dot" id="img-dot-5"></label>
            <label for="img-6" class="nav-dot" id="img-dot-6"></label>
          </li>
        </ul>
        <center style="margin-top: 30%;">
          <h2> 정말 멋지지 않나요? </h2>
          <h1>직접 만들어보세요!</h1>
        </center>

      </section>

      <section>
      <center style="margin-top: 15%;">
        <h1> 예쁜 사진을 골라주세요! </h1>
        <h3 style="margin-bottom: 7%;"> 일출이나 꽃 사진은 어때요? </h3>
        <div class="image-upload">
          <label for="file-input" style="width: 90%">
            <img src="./images/pick1.png"/>
          </label>
          <input id="file-input" type="file" style="display: none;"/>
        </div>
        </center>
      </section>

      <section>
      <center style="margin-top: 15%;">
        <h1> 스타일만 고르면 끝이에요 </h1>
        <h3 style="margin-bottom: 7%;"> 저는 Oil, Pop 스타일을 좋아해요 </h3>
        <div class="image-upload">
          <label for="file-input" style="width: 90%">
            <img src="./images/pick2.png"/>
          </label>
          <input id="file-input" type="file" style="display: none;"/>
        </div>
        </center>
      </section>

      <section>
        <center style="top: 20%; margin-top: 15%; margin-bottom: 7%; position: relative">
          <h1 style ="font-size: 62px;"> 수고했어요 ! </h1>
          <h2> 정말 간단하죠? </h2>
          <h3> 우리 인공지능 Annie가 열심히 그리고 있어요! </h3>
        </center>
      </section>

      <section>
      <center style="margin-top: 15%; margin-bottom: 7%;">
        <h1> 신년카드가 나왔어요! </h1>
        <h3> 어떤것 같아요? </h3>
        <h3> 마음에 들었으면 좋겠어요.</h3>
        </center>
        <!--결과 엽서-->
        <div class="letter">
          <img src="./images/letter.png">
        </div>
        <div class="recommand">
          <a href="cardexp.html">
            <p>다른 신년카드도 만들어 볼래요?</p>
          </a>
        </div>
      </section>

      <section>
        <div class="container">
          <h2>Card image test</h2>
          <p>image at the left</p>
          <div class="card" style="width: 100%;">
            <img class="card-img-left" src="/images/letter.png" alt="card image" style="width: 100%">
            <div class="card-body">
              <!--               <h4 class="card title">john</h4>-->
              <h6>받는 사람:</h6>
              <input type="text" class="form-control" placeholder="받는 사람 이름을 입력하세요.">
              <p class="card-text">
              <input type="text" class="form-control" placeholder="보내고 싶은 이야기를 입력하세요.">
              </p>
              <a href="#" class="btn btn-primary">보내기</a>
            </div>
          </div>
        </div>
        <!-- card추천 -->
        <div class="recommand">
          <a href="cardexp.html">
            <p>저희가 다른 신년인사 카드를 추천해 드릴까요?</p>
          </a>
        </div>
        <!--   footer-->
        <footer>
          <% include footer %>
          <a href="#" style="font-size:2em;">Back to top</a></p>
        </footer>
      </section>




  </body>

  <script>
$(".main").onepage_scroll();
  </script>
</html>
