<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body>
    <div class= "main">

      <!-- Page One -->
      <section>
        <!-- Sliders -->
        <div id="cardslider" >
          <div class="swiper-container" > 
            <div class="swiper-wrapper" > 
              <% for(var i =1; i<7; i++) { %>
              <div class="swiper-slide">
                <img src="./images/post<%= i %>.png">
              </div> 
            <% } %>
            </div> 
          </div>
        </div>
      </section>

      <!-- Page Two -->
      <section>   
        <div id="main_index2">    
        </div>
      </section>


      <!-- Page Three -->
      <section id="p3">
        <% var tagList = ["#대학", "#취직", "#연애", "#자녀", "#성적", "#연봉", "#결혼", "#직접 쓰기"]; %>
        <!-- 카테고리-->
        <div id="category">
          <% for(i =0 ; i<tagList.length/4 ; i++){ %>
          <div>
            <% for(var j = i*4; j< tagList.length  && j< (i+1)*4 ; j++) { %>
            <button id="post1" class="btn btn-link" ><%= tagList[j] %></button>
            <% } %>
          </div>
          <% } %>
        </div>

        <div class="container" id="post2_card">
          <div class="card" style="width: 50%;">
            <img class="card-img-top" src="./images/post8.png" style="width: 100%">
            <div class="card-img-overlay">
              <h1 class="card-tilte" style="position: relative; left: 12%; top:8%">
                취 : <input type="text" id="line1" style="background-image: url(./images/btn_back.png);">
                <br><br>
                직 : <input type="text" id="line2" style="background-image: url(./images/btn_back.png);)">
              </h1>
            </div>

          </div>
        </div>


        <div id="paging">
          <center>
            <br>
            <a href="#step2">
              <button type="button" class="btn btn-outline-primary" onclick="gotostep2()" >입력 완료</button>
            </a>
            <h2>  
              <br><br> 
              <a href="#step1">
                <button type="button" class="btn btn-outline-primary">1</button>
              </a>
              <a href="#step2">
                <button type="button" class="btn btn-outline-primary">2</button>
              </a>
              <a href="#step3">
                <button type="button" class="btn btn-outline-primary">3</button>
              </a> 
            </h2>   
          </center>
          <br><br>
        </div> 
      </section>
    </div>
    <script>
$(".main").onepage_scroll({
  loop: false,
});

$('#file-input').change(function() {
  $('#target').submit();
});


var http = new XMLHttpRequest();
while(http.status==404){
  setTimeout(function(){ 
    http.open('HEAD',"/images/Result/<%=uploadfile%>", false);
    http.send();
    console.log(http.status!=404); 
  },5000);

}

$(".main").moveTo(6);
if (self.name != 'reload') {
  self.name = 'reload';
  self.location.reload(true);
}
//else self.name = ''; 
}

var swiper = new Swiper('.swiper-container', { 
  slidesPerView: 3, 
  spaceBetween: 30, 
  freeMode: true, 
  pagination: { 
    el: '.swiper-pagination', 
    clickable: true, 
  }, 
});

    </script> 
  </body>
</html>

