<!DOCTYPE html>
<html lang="ko">

  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body>
   
   <!--       메인 첫번째 페이지-->
    <div class= "main">
      <section>
        <div id="main_index1">
        <!--예시부분 header-->
        <div id="cardslider"  style="margin-bottom:50%;">
<div class="swiper-container" > 
     <div class="swiper-wrapper" > 
<!--      <div class="imgsample"></div>-->
       <div class="swiper-slide" style="margin-top:20%;">
           <img src="./images/post1.png">
       </div> 
       <div class="swiper-slide" style="margin-top:20%;">
           <img src="./images/post4.png">
       </div> 
       <div class="swiper-slide" style="margin-top:20%;">
           <img src="./images/post3.png">
       </div> 
       <div class="swiper-slide" style="margin-top:20%;">
           <img src="./images/post2.png">
       </div> 
       <div class="swiper-slide" style="margin-top:20%;">
           <img src="./images/post5.png">
       </div> 
       <div class="swiper-slide" style="margin-top:20%;">
           <img src="./images/post6.png">
       </div> 
<!--
       <div class="swiper-slide">Slide 7</div> 
       <div class="swiper-slide">Slide 8</div> 
       <div class="swiper-slide">Slide 9</div> 
       <div class="swiper-slide">Slide 10</div> 
-->
     </div> 
     <!-- Add Pagination --> 
     <div id="point">
     <div class="swiper-pagination"></div> </div>
   </div>
   </div>
        </div>
        
</section>
<!--메인 두번째 페이지-->
<section>   

          <div id="main_index2">    
    
        </div>
          
</section>
<!--세번째 페이지-->
      <section>
    
      </section>

      <section>
      <center style="margin-top: 10vh;">
        <h1> 스타일만 고르면 끝이에요 </h1>
        <h3 style="margin-bottom: 4vh;"> 저는 Oil, Pop 스타일을 좋아해요 </h3>
        <div class="image-upload">
          <label for="file-input" style="width: 70%">
            <img src="./images/pick2.png"/>
          </label>
          <input id="file-input" type="file" style="display: none;"/>
<input id="file-input" type="file" style="display: none;"/>        </div>
        </center>
      </section>

      <section>
        <center style="top: 20vh; margin-top: 15vh; margin-bottom: 7vh; position: relative">
          <h1 style ="font-size: 62px;"> 수고했어요 ! </h1>
          <h2> 정말 간단하죠? </h2>
          <h3> 우리 인공지능 Annie가 열심히 그리고 있어요! </h3>
        </center>
      </section>

      <section>
      <center style="margin-top: 7vh;">
        <h1> 신년카드가 나왔어요! </h1>
        <h3> 어떤것 같아요? </h3>
        <h3> 마음에 들었으면 좋겠어요.</h3>
        </center>
        <!--결과 엽서-->
        <div class="letter" style="text-align: center;">
          <img src="./images/letter.png">
        </div>
        <div class="recommand">
          <a href="cardexp.html">
            <p>다른 신년카드도 만들어 볼래요?</p>
          </a>
        </div>
      </section>

      <section>
        <div class="container">
          <h2>Card image test</h2>
          <p>image at the left</p>
          <div class="card" style="width: 100%;">
            <img class="card-img-left" src="/images/letter.png" alt="card image" style="width: 100%">
            <div class="card-body">
              <!--               <h4 class="card title">john</h4>-->
              <h6>받는 사람:</h6>
              <input type="text" class="form-control" placeholder="받는 사람 이름을 입력하세요.">
              <p class="card-text">
              <input type="text" class="form-control" placeholder="보내고 싶은 이야기를 입력하세요.">
              </p>
              <a href="#" class="btn btn-primary">보내기</a>
            </div>
          </div>
        </div>
        <!-- card추천 -->
        <div class="recommand">
          <a href="cardexp.html">
            <p>저희가 다른 신년인사 카드를 추천해 드릴까요?</p>
          </a>
        </div>
        <!--   footer-->
        <footer>
          <% include footer %>
          <a href="#" style="font-size:2em;">Back to top</a></p>
        </footer>
      </section>
      <section>
          <h1>test</h1>
      </section>




  </body>

  <script>
$(".main").onepage_scroll({

  loop: false,
  keyboard: false,

});
$('#file-input').change(function() {
$('#target').submit();
});
      
 var swiper = new Swiper('.swiper-container', { 
       slidesPerView: 3, 
       spaceBetween: 30, 
       freeMode: true, 
       pagination: { 
        el: '.swiper-pagination', 
         clickable: true, 
       }, 
     });
      
  </script>
</html>
