<!DOCTYPE html>
<html lang="ko">
  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body id=background>
    <div id="index_container">
      <div>
        <h1 id="backgroundMent">설날 폴라로이드 만들기</h1>
        <center>
          <img id="resultImg" style="max-width: 1000px; width: 100%; height: auto;" src="/final/<%= filename %>"/>  
        </center>
      </div>
      <div id="resultBottom" style="">
        <img class="down" onclick="DownloadCard()" style=" "src="/images/download2.png"/> 
        <img class="start" onclick="location.href='/'" style=" "src="/images/next2.png"/> 
      </div>
    </div>
  </body>

  <script>

function DownloadCard(){
  console.log("asdfasdf");
  var link = document.createElement('a');
  var filename = '<%= filename %>';  
  var uagent = navigator.userAgent.toLowerCase();
  link.href = "/final/"+filename;
  link.download = filename;
  link.click();

  if (uagent.search("iphone") > -1){
    window.location.href="/main/final/"+filename;
  }
}
  </script>

</html>
