<!DOCTYPE html>

<html lang="ko">
  <head>		
    <% include header %>
    <title>Paintly.AIcard.main</title>
  </head>

  <body id=background style="background: white">
  </body>

  <script>

window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSd7WoextcuhCkfh1DuDdWwz6y9nyM6u9F5P4Pmt5ykU9GhEFQ/viewform'

  </script>

</html>
