#background
{
    background-color:floralwhite;
  
}
#mainBackground
{
    background-color:floralwhite;
}
 #backgroundMent    
{
        font-family: dovemayo;
        color: black;
}
.info
{
    font-family: dovemayo;
        color: black;
}
