.myTop {
  position: relative;
  width: 90%;
  max-width: 800px;
  padding: 0px 11px;
  margin: 1vh auto ;
  height: 8vh;
}
.myTop .info {
  position: absolute;
  bottom: 0;
  left: 0;
}
.myTop .page {
  color: #9b7f0a;
  position: absolute;
  font-size: 13px;
  top: 0;
  right: 0;
  margin: 4px;
}
  

#category {
  margin-top: 2vh;
  margin-bottom: 2vh;
}


#card_style{
  width: 90%;
  margin: auto;
  max-width: 800px;
  box-shadow: 5px 5px 15px grey;

}


.card2 {
  position: relative;
  width: 100%;
  background: url(/images/emptycard.png);
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card2 img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.card2 .textBlock {
  width: 90%;
  position: relative;
  text-align: left;
}

.card2 .myCont{
  position: absolute;
  height: 100%;
  padding: 6%;

}

.textBlock h4 {
  display: inline-block;
}

.card2 .imageBlock {
  position: relative;
  width: 87%;

}

.container {
  padding: 2px 16px;
}

@font-face {
  font-family: dovemayo;
  src: url("/fonts/dovemayo.otf");
}

h4 {
  font-family: dovemayo;
}

h3 {
  font-family: dovemayo;
  color: white;
}

input {
  background: #ffefe1;
}

div.scrollmenu {
  width: 100%;
  max-width: 800px;
  margin: 2vh auto;

/*  background-color: #EFE2AC;*/
  overflow: auto;
  white-space: nowrap;
}

#uploadPhoto {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 4vh auto;
  height: 9vh;
  text-align: center;
}
#uploadBut {
  color: #72441e;
  margin: auto;
  text-align: center;
  font-weight: bold;
  width: 50%;
  position: relative;
  padding: 30px;
  border: 2px solid #ba5815;
  border-radius: 10px;
  display: inline;
}


div.scrollmenu a {
  display: inline-block;
  color: #72441e;
  text-align: center;
  text-decoration: none;
  font-weight: bold;

  padding: 25px 22px;
  border: 1px solid #ba5815;
  border-radius: 10px;
}

div.scrollmenu a.active {
  color: white;
  background-color: #ba5815;
}
div.scrollmenu a:hover {
  background-color: #edb564;
}

.button {
  width: 50%;
  margin: auto;
  color: #603208;
  font-weight: bold;
  background-color: #fcb765; /* Green */
  margin-top: 2vh;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

img.styleImages{
  height: 100%;
  width: auto;
  }

#cardslider{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#shareList{
  text-align: center;
  padding: 3vh 0px;
}
img.shareBut{
  display: inline-block;
  height: 4vh;
  width: auto;
  margin: 0 15px;
}


div#bottomList{
  text-align: center;
  max-width: 800px;
  width: 80%;
  margin: 2vh auto; 
}
#bottomList a{
  padding: 25px 22px;
  border: 1px solid #ba5815;
  border-radius: 10px;
  font-weight:bold;
  color:#fffbeb;
  background-color:#edbf70;
}

input[type="text"]
{
  font-size: 18px;
  font-family: dovemayo;
}
