#category {
  margin-top: 2vh;
  margin-bottom: 2vh;
}


#card_style{
  width: 80%;
  height: 60vh;
  margin: auto;
  max-width: 800px;
  box-shadow: 5px 5px 15px grey;

}


.card2 {
  position: relative;
  width: 100%;
  background: url(/images/emptycard.png);
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card2 img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.card2 .textBlock {
  width: 90%;
  position: relative;
  text-align: left;
}

.card2 .myCont{
  position: absolute;
  height: 100%;
  padding: 6%;

}

.textBlock h4 {
  display: inline-block;
}

.card2 .imageBlock {
  position: relative;
  width: 87%;

}

.container {
  padding: 2px 16px;
}

@font-face {
  font-family: dovemayo;
  src: url("/fonts/dovemayo.otf");
}

h4 {
  font-family: dovemayo;
}

h3 {
  font-family: dovemayo;
}



div.scrollmenu {
  width: 90%;
  max-width: 800px;
  padding: 14px;
  margin: 5px auto 5px auto;

  background-color: #EFE2AC;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;

  border: 2px solid #4a6a99;
  border-radius: 10px;
}

div.scrollmenu a.active {
  color: white;
  background-color: #4a6a99;
}
div.scrollmenu a:hover {
  color: white;
  background-color: #a9bec4;
}

.button {
  background-color: #4CAF50; /* Green */
  margin-top: 2vh;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

img.styleImages{
  height: 100%;
  width: auto;
  }
