/*mobile device*/
@media screen and (max-width:768px)
{
    #background
    {
        background-size:100% 100%;
        background-image:url('../images/index1.png');
    }
    #backgroundMent
    {
        font-family: dovemayo;
        color: black;
        text-align: center;
        margin-top:20%;        
    }
    #backgroundSlider
    {
        margin-top: 10vh;
        text-align: center;
    }
    .swiper-slide{
        margin:0px;
    }
    .swiper-pagination
    {
        margin-left: 50%;
    }
    #backgroundBtn img
    {
        width:70vw;
        margin-left:15%;
        margin-top:10vh;
    }
    #arrow{
        max-width: 800px; 
        width: 80%; 
        height: 8vh; 
        margin-top: 15%;     
    }
    .styleImages
    {
        width:25%;
    }
}



/*desktop*/
@media screen and (min-width:1100px)
{
    
    #background{
    background-size:50% 100%;
        width: 50%;
        margin-left: 25%;
        margin-left: 25%;
       
    
    }
   
    
}
