/*mobile device*/
@media screen and (max-width:1024px)
{

  /*    index container*/
  #index_container
  {
    width: 100vw;
    height: 100vh;
    margin: 0px auto;
    padding: 1vw;
    border: 1px white;

  }
  #idx1
  {

    border: 1px solid white;
    width: 100vw;
    margin-bottom: 3vh;
    height: 6vh;
  }
  #idx2
  {
    width: 100vw;
    margin-bottom: 4vh;
    margin-top: 2vh;
    float: left;
    border: 1px solid white;
    height: 60vh;

  }


  .rotate {
    margin-top: 4vh;
  }

  /*page1 background img*/
  #background
  {
    background-size:100% 100%;
    /*        background-image:url('../images/index1.png');*/
    margin:0 auto;
  }
  /*    index_main*/
  #index_main
  {
    margin-top: 15vh;
    margin-bottom: 15vh;
  }


  /*page1 background comment*/
  #backgroundMent
  {
    text-align: center;
    margin-top: 8%;
    font-size: 1.5em;
  }
  /*page1 background img slider*/
  #backgroundSlider
  {
    margin-top: 5vh;
    text-align: center;
  }
  .swiper-slide img
  {
    width: 100%;
    height: 140%;
  }

  .swiper-pagination
  {
    position: relative;
    margin: 1vh auto 0 auto;
  }
  .swiper-container{
    text-align:center; height:95%;   
  }


  /*page1 background btn*/
  #backgroundBtn img
  {
    width:70vw;
    margin-left:15%;
    margin-top:4vh;
  }
  /*page1, page2 left,right arrow btn*/
  #arrow
  {

    margin-left:10%; 
    margin-right:10%; 
    margin-top:5vh; 
    width:78vw;
  }
  .l_arrow
  {

    height: 5vh; 

    width:10vw;
  }
  .r_arrow
  {
    height: 5vh; 
    width:10vw;
  }
  /*page2 style slider    */
  #styleList
  {
    height: 10vh;
  }
  /*page2 txt block*/
  #txtblock
  {
    text-align: center;
    margin:4vh;
    height: 9vh;    
  }
  #txt
  {
    text-align: center;
    width: 50vw;
    height: 7vh;
  }

  #startBtn{
    margin-top: 15%;
    margin-bottom: 15%;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  #startBtn a{
    color: #72441e;
    border: 2px solid #ba5815;
    padding: 14px 16px;
    border-radius: 15px;
  }
  #showInput {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 25px;
    font-family: dovemayo;
    z-index: 5;
  }
  #progressBar{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 5;
  }
  #card_style{
    width: 90vw;
    height: 90vw;
    overflow: hidden;
  }

  #blurred_background{
    overflow: hidden;
    width:100%;
    height:100%;
    left:0;
    top:0;
    bottom:0;
    right:0;
    filter: blur(3px);
    object-position: center;
    object-fit: cover;
  }
  .something
  {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .something::after{
    display: block;
    position: absolute;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #727272 96%);
    top: 0;
    height: 60%;
    width: 100%;
    content: '';

  }


  #grip{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
  }

  #front_img{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
  }
  #progressBar{
    margin-top: 10vh;
  }
  #progressMent
  {
    font-size: 1em;    
  }
  #origin_image{
    height: 95%; width: 100% ; max-width: 1000px;
    object-position: center;
    object-fit: cover;
    position:relative;
    transform: rotate(-10deg);
  }
  #stepBar img
  {
    width: 100%;
    text-align: center;
  }
  #stepBar{
    margin:2vh auto;
  }
  #test img
  {
    width: 20vw; 
  }

  #index_btn img
  {
    width:40vw;
    height:8vh;
  }
  #uploadPhoto
  {
    margin-top: 3vh;
    font-size:1.5em;
    height: 8vh;
  }
  img.styleImages{
    height: 80%;
    width: auto;
  }
  #styleListMent
  {
    height: 2vh;
    margin-top:2vh;
  }
  #txt {
    color: white;
    border-radius: 25px;
    width: 80%;
    position: absolute;
    top: 1vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    border: none;
    text-align: center;
    background: black;
    opacity: 0.4;
  }


  #kakao
  {
    margin-left: -40%;
    height: 10vh;

  }
  img.shareBut{
    height: 10vh;
    margin-top:-90%;
    background-color:grey;
    padding:2%;
  }

  div.gradient{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(111,106,106,1));

  }



  div#resultBottom{
position: relative; 
height: 10vh; 
margin-top: 5vh;
  }
  div#resultBottom img {
height: 100%; 
position: absolute; 
left: 0; 
top: 0; 
background: grey; 
opacity: 0.6;
  }
  div#resultBottom div {
position: absolute; 
right: 0; 
height: 100%;
background: grey; 
opacity: 0.6;
  }
  div#resultBottom div a {
 color: white;
 position: relative;
 top: 30%; 
 font-size: 20px; 
 transform: translateY(-50%);
  }

}



/*desktop*/
@media screen and (min-width:1025px)
{


  #txt {
    color: white;
    border-radius: 25px;
    width: 80%;
    position: absolute;
    top: 1vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    border: none;
    text-align: center;
    background: black;
    opacity: 0.4;
  }

  #background
  {
    background-size:50% 100%;
    background-repeat: no-repeat;
    background-position: 50%;   
    width: 50%;
    /*    margin-left: 25%;*/
    margin:0 auto;
  }
  #uploadPhoto
  {
    font-size : 40px;
    padding-top : 40px;
    font-size: 2em;
  }

  /*page1 background comment*/
  #backgroundMent
  {
    text-align: center;
    margin-top:14vh;
    width: 30vw;
    margin-left: 10vw;
    font-size: 1.5em;
    margin-bottom: 10vh;

  }
  #backgroundMent2
  {
    text-align: center;    
  }
  /*page1 background img slider*/
  #backgroundSlider
  {
    margin-top: 3vh;
    text-align: center;
  }
  .swiper-slide img
  {
    width: 25vw;    
  }
  .swiper-slide{
    margin:0px;
  }
  .swiper-pagination
  {
    margin-left: 20vw;
    margin-top:1vh;
    margin-bottom: 2vh;
    width:10vw;
  }

  /*page1 background btn*/

  #startBtn{
    margin: 6vh;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  #startBtn a{
    color: #72441e;
    border: 2px solid #ba5815;
    padding: 14px 16px;
    border-radius: 15px;
  }

  /*page1, page2 left,right arrow btn*/
  #arrow
  {
    margin-top:4vh;
    width:80vw;

  }
  .l_arrow
  {
    width:5vw; 
    margin-bottom:4vh;
  }
  .r_arrow
  {
    width: 5vw; 
    margin-bottom: 4vh;
  }

  #capture_card
  {
    width:100%;
    height: 60vh;
  }
  #card_style
  {
    height: 55vh;   
    margin-bottom: 3vh;
    margin-top: 4vh;
    width: 30vw;
  }
  #styleList
  {
    height: 10vh;
    margin-top: 3%;    
    width: 40%;
  }
  #txtblock
  {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 4vh;
  }
  #txt
  {
    height: 11vh;
    width: 30vw;
  }
  #blurred_background{
    width: 30vw;
    height: 55vh;
  }

  #showInput {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 25px;
    font-family: dovemayo;
    z-index: 5;
  }
  #progressBar{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 5;
  }
  #card_style{
    width: 30vw;
    height: 30vw;
    overflow: hidden;
  }

  #blurred_background{
    overflow: hidden;
    width:100%;
    height:100%;
    left:0;
    top:0;
    bottom:0;
    right:0;
    filter: blur(3px);
    object-position: center;
    object-fit: cover;
  }
  .something
  {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .something::after{
    display: block;
    position: absolute;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #727272 96%);
    top: 0;
    height: 100%;
    width: 100%;
    content: '';

  }

  #grip{
    width: 85%;
    height: 100%;
    position: absolute;
    left:4vw;
    top:5.5vh;
  }

  #front_img{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
  }
  #progressBar{
    margin-top: 15vh;
  }
  #progressMent
  {
    font-size: 1.5em;    
  }
  #origin_image
  {

    height: 93%; width: 65% ; max-width: 1000px;
    position: relative;
    top:5.8vh;
    left:1.8vw;
    transform: rotate(-10deg);
    width: 83%;
    object-position: center;
    object-fit: cover;
  }

  #index_btn
  {
    text-align: center;
    margin:10vh auto;
  }
  #index_btn img
  {
    width:50%;
  }
  #stepBar img
  {
    width: 30%;
    text-align: center;
  }
  div#bottomList{
    width: 35%;
    text-align: center;
  }

  #kakao
  {
    margin-left: -40%;
    height: 10vh;

  }
  img.shareBut{
    height: 10vh;
    margin-top:-90%;
    background-color:grey;
    padding:2%;
  }
  div#resultBottom{
position: relative; 
height: 10vh; 
margin-top: 5vh;
  }
  div#resultBottom img {
height: 100%; 
position: absolute; 
left: 0; 
top: 0; 
background: grey; 
opacity: 0.6;
  }
  div#resultBottom div {
position: absolute; 
right: 0; 
height: 100%;
background: grey; 
opacity: 0.6;
  }
  div#resultBottom div a {
 color: white;
 position: relative;
 top: 30%; 
 font-size: 30px; 
 transform: translateY(-50%);
  }
}

